@use "../setup";

/* Page-Article
 ========================================================================== */

#page-article {


  @media screen and (min-width:1440px) {
    #pane-text {
      display: contents;
    }

    #main_content {
      display: grid;
      grid-gap: 2em;
      grid-template-columns: 1fr 1fr; //repeat(auto-fit, minmax(64ch, 1fr));
      align-items: start;
      grid-template-areas:
        'title title'
        'authr authr'
        'excrp bodyt'
        'txta1 bodyt'
        '.     .'
        'custf arimg';

      >* {
        margin: 0;
      }
    }

    .title {
      grid-area: title;
    }

    .author {
      grid-area: authr;
      margin-top: -1.5em;
      // color: var(--)
      //opacity: .66;
    }

    .excerpt {
      grid-area: excrp;
    }

    .body {
      grid-area: bodyt;
    }

    .glz-custom-textarea {
      textarea {
        font-size: small;
      }
      &:first-of-type  {
        grid-area: txta1;

      }
    }

    textarea {
      min-height: 10.5em;
    }

    #txp-custom-field-group {
      grid-area: custf;

    }

    .glz-custom-checkbox,
    .glz-custom-radio {
      .txp-form-field-value {
        column-count: 2;
        column-gap: 1em;

      }
    }
  }

#txp-image-group {
  grid-area: arimg;
}
  // Allow for many 4-digit image ids
  #article-image {
    max-width: 100%;
  }
#article-file-container {
      display: grid !important;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 2em 4em;
      p {
       // outline: 1px solid var(--clr-brdr-lite);
       background: var(--clr-bkgd-box);
      }
      img{
        height: var(--thumb-img-height);
      }

}
  @media screen and (min-width: 400px) {
    .txp-container #article-file-container // com_article_image
    .txp-container #txp-custom-field-group {
      display: grid !important;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 2em 4em;
    }
  }
  // bot_image_upload
  #txp-image-group-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .bot_iu_image_container {
    flex: auto;
    > img{
      height: var(--thumb-img-height);
    }
  }

  .glz-cf {
    display: grid;

    .txp-form-field-label {}

    .txp-form-field-instructions {
      opacity: .66;
      //color: var(--clr-a);
      text-align: right;
      font-size: 1rem;
    }

    .txp-form-field-value {
      grid-column: span 2;
    }

    input {
      width: 100%;
      &[type="checkbox"],
      &[type="radio"] {
        width: 1.5em;
      }
    }
  }
}